<!DOCTYPE html>
<html lang="sk">
<head>
	<title>Súhrnné reporty</title>

	<!--   G L O B A L S   CSS AND JS FILES, FAVICON, VIEWPORT AND CHARSET   --> 
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link rel="icon" type="image/png" href="http://alpha.miba.com/static/images/logo.gif"/>

	<link rel="stylesheet" href="http://alpha.miba.com/static/css/bootstrap.min.css">

	<script src="http://alpha.miba.com/static/js/jquery.min.js"></script>
	<script src="http://alpha.miba.com/static/js/popper.min.js"></script>
	<script src="http://alpha.miba.com/static/js/bootstrap.min.js"></script>


	<!--   L O C A L    CSS AND JS FILES   --> 
	<link rel="stylesheet" href="../static/css/suhrn_report.css">

	<script src="../static/js/teamBoard2.js"></script>
	<script src="../static/js/suhrn_report.js"></script>

</head>

<body>
    <div id="titleDiv" class="mt-4 mb-3">
		<span id="title">Súhrnné reporty</span>
	</div>
	<div id="logoDiv">
    	<img class="img-fluid" src="htp://alpha.miba.com/static/images/logo.gif" id="logo" alt="Logo">
    </div>
    <div class="mt-5" style="margin-left: 5%">
        <p>{{ message }}</p>
	</div>
</body>
</html>