body {
	width: 100%;
}

#miba {
	border-radius: 4px;
	font-size: 40px;
	text-align: left;
	margin: auto;
	margin-top: 40px;
	width: 60.5%;
	padding-bottom: 25px;

}

#logo {
	width: 110px;
	height: 72px;
	float: right;
	position: relative;
	animation-name: animacia;
	animation-duration: 2s;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/*box-shadow: 0px 3px 8px #000000;*/
}

@keyframes animacia {
	0% {transform:rotateY(-30deg) rotateZ(-2deg);}
	100% {transform:rotateY(30deg) rotateZ(2deg);}
}

h5{
	font-weight: bold;
}

#zoznam-data {
	width: 19.3%;
	margin-left: 20%;
	float: left;
	margin-top: 50px;
	border-radius: 4px;
	height: 410px;
	min-width: 14rem;
}

#zoznam-kaizen {
	width: 19.3%;
	height: 410px;
	margin-left: 1%;
	margin-right: 20%;
	float: right;
	margin-top: 50px;
	border-radius: 4px;
	min-width: 14rem;
}

#zoznam-reports {
	border-radius: 4px;
	width: 19.3%;
	display: inline-block;
	margin-left: 1%;
	margin-top: 50px;
	min-width: 14rem;
}

#zoznam-big_picture {
	border-radius: 4px;
	width: 60%;
	margin-left: 20%;
	margin-top: 1%;
	text-align: center;
	min-width: 14rem;
}

@media screen and (max-width: 1200px) {
	
	.okraje{
		margin: auto;
		width: 60%;
	}
	
	#zoznam-data {
		width: 100%;
		height:	initial;
		margin-left: 0%;
		margin-top: 50px;
		border-radius: 4px;	
	}
	
	#zoznam-kaizen {
		height:	initial;
		width: 100%;	
		margin-right: 0%;
		margin-top: 50px;
		border-radius: 4px;
	}
	
	#zoznam-reports {
		border-radius: 4px;
		width: 100%;
		margin-left: 0%;
		margin-top: 50px;
	}
	
	#zoznam-big_picture {
		border-radius: 4px;
		width: 100%;
		margin-top: 410px;
		text-align: left;
		margin-left: 0%;
		margin-bottom: 1rem;
	}	
}

@media screen and (max-width: 858px){
	#miba {
		padding-bottom: 100px;
	}
}

@media screen and (max-width: 400px){
	.okraje{
		width: 100%;
	}
}




.divObjects {
	border-style: solid;
	border-color: black;
	border-width: 1px;
	box-shadow: 2px 3px 8px #000000;
	padding: 1rem;

}

.StyleButtons {
	margin-top: 0.7rem;
	width: 12rem;
	box-shadow: 2px 2px 4px #000000;
}

.btn-primary{
	background-color: #002060;
	font-weight: bold;
	color: #fcc000;
	border-color: #fcc000;
}

a:not([href]):not([tabindex]){
	color: #fcc000;
}

.btn-primary:hover{
	background-color: rgb(11, 136, 253);
	transition: 0.2s;
}
  
.btn:focus {
	box-shadow: 2px 2px 4px #000000;
  }

.disabled {
	font-weight: bold;
	background-color: #002060;
	color: #fcc000;
	border-color: #fcc000;
}


/*rozbalovacie tlacitka------------------------------------------------------*/
/* Dropdown Button */
.dropbtn {

  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
	position: relative;
	display: inline;
  }
  
  /* Dropdown Content (Hidden by Default) */
   .dropdown-content {
	display: none;
	position: absolute;
	margin-top: 10px;
	background-color: #002060;
	width: 17rem;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	border-radius: 4px;
	border: 1px solid #fcc000;
	box-shadow: 2px 2px 4px #000000;
  }
  
  /* Links inside the dropdown */
   .dropdown-content a {
	padding: 5px 10px;
	text-decoration: none;
	display: block;
	font-weight: bold;
	color: #fcc000;	
	
  }
  
  /* Change color of dropdown links on hover */
   .dropdown-content a:hover {
	background-color: rgb(11, 136, 253);
	color: white;
	transition: 0.2s;
	text-decoration: none;
	border-radius: 4px;
}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: inline;}
  
 /* https://www.w3schools.com/howto/howto_css_dropdown.asp*/




